$yellow:#fd9d2a;

#me{
    position: relative;
    margin: 50px;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -20px;
        background-color: #aeba009c;
    }
    >.row{
        >img{
            width: 10%;
            border: solid #353535;
            padding: 10px;
            border-radius: 10px;
        }
        >.row{
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            align-items: end;
            >.row{
                >i{
                    >a{
                        >svg{
                            width:  25px;
                            height: 25px;
                        }
                    }
                }
                >h1{
                    margin-left: 10px;
                    color: #181818;
                }
            }
        }
    }
}
#head{
    width: 100%;
    height: 100vh;
    >.row{
        width: 90%;
        height: 80px;
        margin: 20px 50px;
        >div{
            &:nth-of-type(1){
                width: 23%;
                background-image: url(../img/logo-header-retina.png);
                background-size: cover;
            }
            &:nth-of-type(2){
                width: 20%;
                height: 70px;
                margin-left: 40px;
                background-color: $yellow;
                border-radius: 10px;
                color: white;
                
                font-size: 20px;
                >a{
                    >svg{
                        width:  25px;
                        height: 25px;
                    }
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        background-color: #2a00fa;
                        border-radius: 10px;
                        transition: .4s;
                    }
                }
            }
        }
        >nav{
            width: 50%;
            height: 80px;
            margin-left: 50px;
            >ul{
                display: flex;
                >li{
                    margin: 30px 20px;
                    &:nth-of-type(1){
                        color: $yellow;
                    }
                    >a{
                        font-size: 20px;
                        text-transform: capitalize;
                        position: relative;
                        &:hover::after{
                            width: 100%;
                        }
                        &:hover{
                            color: $yellow;
                            transition: .4s;
                        }
                        &::after{
                            content: '';
                            width: 0%;
                            height: 2px;
                            background-color: $yellow;
                            display: flex;
                            position: absolute;
                            bottom: -10px;
                        }
                        
                    }
                    &:hover>ul>li{
                        opacity: 1;
                        transition: .4s;
                        height: 50px;
                    }
                    >ul{
                        position: absolute;
                        width: 150px;
                        margin-top: 10px;
                        >li{
                            background-color: #fff;
                            width: 100%;
                            height: 0;
                            opacity: 0;
                            >a{
                                border: 1px solid rgb(230, 230, 230);
                                color: black;
                                font-size: 20px;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
    }
    >.head_bot{
        margin: 50px;
        >.row{
            >figure{
                width: 60%;
                >img{
                    width: 100%;
                    border-radius: 10px;
                }
            }
            >.row{
                width: 40%;
                padding: 50px;
                >h1{
                    font-size: 70px;
                    text-transform: capitalize;
                    color: #181818;
                }
                >p{
                    font-size: 20px;
                }
                >div{
                width: 50%;
                height: 60px;
                margin-top: 40px;
                background-color: #6ed500;
                border-radius: 5px;
                color: white;
                font-size: 20px;
                    >a{
                        >svg{
                            width:  25px;
                            height: 25px;
                        }
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:hover{
                            background-color: #2a00fa;
                            border-radius: 5px;
                            transition: .4s;
                        }
                    }
                }
            }
        }
    }
}

#art{
    width: 100%;
    >.row{
        margin: 50px;
        width: 95%;
        height: 400px;
        justify-content: space-evenly;
        >article{
            width: 25%;
            transition: .4s;
            &:nth-of-type(1)>i{
                &:hover{
                    color: $yellow;
                }
            }
            &:nth-of-type(2)>i{
                &:hover{
                    color: rgb(0, 255, 17);
                }
            }
            &:nth-of-type(3)>i{
                &:hover{
                    color: rgb(72, 0, 255);
                }
            }
            &:hover{
                transform: translateX(10px);
                transition: .4s;
            }
            *{
                display: flex;
                justify-content: center;
                text-transform: capitalize;
                margin: 20px;
            }
            >i{
                >svg{
                    width:  60px;
                    height: 60px;
                }
            }
            >h3{
                font-size: 25px;
            }
            >h6{
                font-size: 15px;
                color: $yellow;
            }
            >p{
                font-size: 17px;
            }
        }
    }
}

#search{
    background-image: url(../img/search-background.png);
    background-size: cover;
    width: 90%;
    height: 400px;
    text-transform: capitalize;
    margin: 100px 100px;
    >.head{
        width: 100%;
        height: 50%;
        *{
            display: flex;
            justify-content: center;
        }
        >p{
            color: #fd9d2a;
            padding-top: 70px;
        }
        >h3{
            font-size: 50px;
            margin-top: 20px;
        }
    }
    >.row{
        justify-content: space-between;
        >.name{
            >p{
                font-size: 20px;
                height: 40px;
                padding-top: 10px;
            }
            >input{
                width: 300px;
                height:60px;
                border-radius: 10px;
                text-transform: capitalize;
                font-size: 20px;
            }
        }
        >.label{
            >p{
                font-size: 20px;
                height: 40px;
                padding-top: 10px;
            }
            >select{
                width: 300px;
                height:60px;
                border-radius: 10px;
                text-transform: capitalize;
                font-size: 20px;
            }
        }
        >.but{
            width: 15%;
            height: 60px;
            margin-top: 40px;
            background-color: #fd9d2a;
            border-radius: 5px;
            color: white;
            font-size: 20px;
            >a{
                >svg{
                    width:  25px;
                    height: 25px;
                }
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    background-color: #2a00fa;
                    border-radius: 5px;
                    transition: .4s;
                }
            }
        }
    }
}

.pack{
    margin: 50px;
    >.row{
        &:nth-of-type(1){
            width: 100%;
            height: 100px;
            text-transform: capitalize;
            align-items: center;justify-content: center;
            >span{
                width: 221px;
                height: 40px;
                padding: 10px;
                background-color: #f2fed5;
                color: #93b400;
                margin-bottom: 10px;
            }
            >h2{
                width: 100%;
                display: flex;
                justify-content: center;
                font-size: 40px;
                color: #181818;
            }
        }
        &:nth-of-type(2),&:nth-of-type(3){
            width: 100%;
            height: 100vh;
            padding: 50px;
            >figure{
                position: relative;
                margin: 0 10px;
                >img{
                    width: 400px;
                    height: 300px;
                    border-radius: 30px;
                }
                >figcaption{
                    width: 90%;
                    height: 400px;
                    position: absolute;
                    top: 270px;
                    left: 20px;
                    padding: 20px;
                    background-color: white;
                    border-radius: 30px;
                    >article{
                        *{
                            text-transform: capitalize;
                        }
                        >h3{
                            font-size: 25px;
                            color: #181818;
                        }
                        >p{
                            margin: 20px 0;
                            &:nth-of-type(1){
                                color: #181818;
                                font-size: 17px;
                                position: relative;
                                >a{
                                    color: #fd9d2a;
                                    &:hover{
                                        color: #2a00fa;
                                    }
                                }
                                &::after{
                                    content: '';
                                    position: absolute;
                                    display: flex;
                                    bottom: -10px;
                                    left: 0;
                                    width: 100%;
                                    height: 2px;
                                    background-color: #3e3e3e;
                                }
                            }
                            &:nth-of-type(2){
                                color: #181818;
                            }
                            
                        }
                        >h6{
                            font-size: 18px;
                            color: #181818;
                            >strong{
                                color: #6ed500;
                                font-size:30px;
                            }
                        }
                        >div{
                            width: 200px;
                            height: 60px;
                            margin-top: 40px;
                            background-color: #ffffff;
                            color: rgb(0, 0, 0);
                            font-size: 20px;
                            >a{
                                >svg{
                                    width:  25px;
                                    height: 25px;
                                }
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: 1px solid black;
                                border-radius: 5px;
                                transition: .4s;
                                &:hover{
                                    background-color: #fd9d2a;
                                    color: #f2fed5;
                                    border: none;
                                    border-radius: 5px;
                                    transition: .4s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.popular{
    background-image: url(../img/destinations-bg-3.jpg);
    background-size: cover;
    height: 90vh;
    display: flex;
    >div{
        background-color: #00000096;
        width: 100%;
        height: 100%;
        >*{
            text-transform: capitalize;
            display: flex;
            align-items: center;
            margin-top: 50px;
            
        }
        >span{
            justify-content: center;
            >a{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #757575;
                width: 230px;
                height: 40px;
                color: white;
            }
        }
        >h1{
            justify-content: center;
            font-size: 50px;
            color: #ffffff;
        }
        >.row{
            justify-content: space-evenly;
            >a{
                >figure{
                    position: relative;
                    width: 250px;
                    height: 300px;
                    overflow: hidden;
                    border-radius: 10px;
                    transition: .4s;
                    &:hover>img{
                        transform: translateX(-50px);
                        transition: .4s;
                    }
                    &:hover{
                        transform: translateY(20px);
                        transition: .4s;
                    }
                    >img{
                        width: 300px;
                        height: 300px;
                        position: absolute;
                        transition: .4s;
                    }
                    >figcaption{
                        position: absolute;
                        color: #fff;
                        font-size: 28px;
                        font-weight: bold;
                        background-color: #00000037;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: end;
                    }
                }
            }
        }
    }
}

.logo{
    >.row{
        justify-content: space-evenly;
        margin: 100px 80px;
        >img{
            width: 150px;
            opacity: .4;
            transition: .4s;
            &:hover{
                opacity: 1;
                transition: .4s;
            }
        }
    }
}

.foot{
    width: 100%;
    height: 100vh;
    text-transform: capitalize;
    background-color: #1b1b1b;
    >.foot_top{
        width: 100%;
        height: 30vh;
        background-image: url(../img/footer-tagline-bg-3.png);
        background-size: cover;
        >h3{
            width: 100%;
            height: 30vh;
            display: flex;
            justify-content: center;align-items: center;
            font-size: 35px;
            color: #fff;
        }
    }
    >.row{
        margin: 50px;
        width: 92%;
        height: 50%;
        >div{
            width: 25%;
            padding: 20px;
            &:nth-of-type(1){
                >img{
                    width: 100%;
                }
                >span{
                    display: flex;
                    margin: 20px 0;
                    >a{
                        color: white;
                        font-size: 17px;
                        background-color: #353535;
                        padding: 5px;
                    }
                }
                >.row{
                    justify-content: space-evenly;
                    >a{
                        background-color: #353535;
                        padding: 5px;
                        >i{
                            color: white;
                            >svg{
                                width:  25px;
                                height: 25px;
                            }
                        }
                    }
                }
            }
            &:nth-of-type(2),&:nth-of-type(3){
                >h3{
                    color: white;
                    font-size: 25px;
                    text-transform: uppercase;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        display: flex;
                        left: 0;
                        bottom: -10px;
                        width: 80px;
                        height: 2px;
                        background-color: #fd9d2a;
                    }
                }
                >p{
                    display: flex;
                    margin: 15px 0;
                    >a{
                        color: white;
                        font-size: 20px;
                        transition: .4s;
                        &:hover{
                            color: #6ed500;
                            transition: .4s;
                        }
                    }
                }
            }
            
        }
        >.email{
            >h3{
                color: white;
                font-size: 25px;
                text-transform: uppercase;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    display: flex;
                    left: 0;
                    bottom: -10px;
                    width: 80px;
                    height: 2px;
                    background-color: #fd9d2a;
                }
            }
            >p{
                color: white;
                font-size: 20px;
                margin: 20px 0;
            }
            >input{
                width: 300px;
                height: 50px;
                border-radius: 10px;
                text-transform: capitalize;
                font-size: 20px;
            }
            >div{
                width: 300px;
                height: 60px;
                margin-top: 40px;
                color: rgb(0, 0, 0);
                font-size: 20px;
                >a{
                    >svg{
                        width:  25px;
                        height: 25px;
                    }
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    background-color: #93b400;
                    border-radius: 10px;
                    transition: .4s;
                    &:hover{
                        background-color: #2200bb;
                        color: #f2fed5;
                        border: none;
                        border-radius: 5px;
                        transition: .4s;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}